.contact-page{
  width: 90vw;
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

.contact{
  margin-top: 60px;
}

.content-contact{
  display: flex;
  justify-content: space-between;
  align-items: top;
  height: 100%;
}

.image-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 650px;
}

.contact-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  margin-bottom: 40px;
}

.title-page{
  text-align: center;
  margin-bottom: 20px;
}

