// Specific CSS for your home-page

body{
  display: flex;
  margin: none;
  padding: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  padding: none;
  margin: none;
}

h2{
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 30px;
  color: rgb(138,166,125);
  text-decoration: underline;
}

h1{
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 45px;
  color: rgb(138,166,125);
  text-decoration: underline;
}

.page-container{
  height: 2000px;
  width: 62%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.btn-home{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.logo-content{
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo{
  height: 100%;
  width: 522px;
  margin-top: 35px;
}

.image-home{
  width: 100%;
  height: auto;
}

.text-slogan{
  h3{
    font-family:  'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
}

.presentation{
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 50px;
  width: 99%;
  height: auto;
  border: 1px solid rgba(0,0,0,0.1);
}

.text-infos{
  display: flex;
  justify-content: space-between;
}

.text{
  margin-top: 20px;
  p{
    font-family:  'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.infos-home{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 7px rgb(138,166,125);
  width: 350px;
  height: auto;
  padding: 25px;
}

.adresse{
  p{
    font-family:  'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
  }
  i{
    color: blue;
  }
}
.telephone{
  p{
    font-family:  'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
  }
  i{
    color: #b73029;
  }
}

.facebook-link{
  p{
    font-family:  'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
  }
  a{
    color: #FFB6D4;
  }

  i{
    color: #3c599b;
  }
}

.horaire{
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  p{
    font-family:  'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
  }
}
