<div class="footer">
  <div class="logo-footer">
    <%= image_tag "logo-fond-blanc.png", style:"width:190px;height:100px;" %>
  </div>

  <div class="adresse-footer">
    <p>
      Institut Brin De Douce’Heure<br>
      <i class="fas fa-map-marker-alt"></i> 8 rue de la gourlière 85710<br>
      Châteauneuf
    </p>
  </div>

  <div class="contacts">
    <div class="telephone-footer">
      <p><i class="fas fa-phone"></i> 06 13 20 19 66</p>
    </div>

    <div class="reseaux-footer">
      <p><i class="fab fa-facebook"></i> Rejoignez <strong><%= link_to "Brin De Douce’Heure", "https://www.facebook.com/Brin-De-DouceHeure-968973346643386", target: :_blank %></strong> sur Facebook.</p>
    </div>
  </div>
  <div class="fournisseur-footer">
    <div class="fournisseur-logo-footer">
      <%= image_tag "logo-Beaute-Simple.png", style:"width:139px;height:46px;" %>
    </div>
  </div>
</div>
