<div class="header">
  <div class="logo-header">
    <%= image_tag "logo-fond-blanc.png", style:"width:137px;height:71px;" %>
  </div>
  <div class="fournisseur-header">
    <div class="fournisseur-logo-header">
      <%= image_tag "logo-Beaute-Simple.png", style:"width:139px;height:46px;margin:5px;" %>
    </div>
    <div class="text-fournisseur-header">
      <p>Beauté Simple, Peggy Sage,<br>Doll, Fournisseur partenaire</p>
    </div>
  </div>
</div>
