<div class="page-container">
  <div class="logo-content">
    <div class="logo"></div>
  </div>

  <div class="nav-bar">
    <div class="onglet">
      <h6>Accueil</h6>
    </div>

    <div class="onglet">
      <h6>Offres / Évènements</h6>
    </div>

    <div class="onglet">
      <h6>Tarifs</h6>
    </div>

    <div class="onglet">
      <h6>Contact / Accès</h6>
    </div>
  </div>

  <div class="image-home">
    <div class="image"></div>
  </div>


  <div class="btn-home">
    <div class="btn-base">
      <h5>Prendre rendez-vous</h5>
    </div>
  </div>

  <div class="text-slogan">
    <h3>Beauté et douceur à Châteauneuf</h3>
  </div>

  <div class="presentation">
    <div class="titre-presentation">
      <h2>Présentation</h2>
      <div class="text-infos">
        <div class="text">

        </div>

        <div class="infos-home">

          <div class="titre-infos">

          </div>

          <div class="adresse">

          </div>

          <div class="telephone">

          </div>

          <div class="facebook-link">

          </div>

          <div class="horaire">

            <div class="horaire-titre">
              <h4>Horaire</h4>
            </div>

            <div class="horaire-texte">

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
